# Python
__pycache__/
*.py[cod]
*$py.class
*.ipynb_checkpoints/

# User specific
DSL SC Jan 2026/

# Data and Artifacts
dataset/
dataset.zip
viz/
viz.zip
visuals/
backup/
cache/

# OS
desktop.ini
Thumbs.db

# Output images (optional, but likely generated)
*.png
